In [19]:
# read file
file = open('t8.shakespeare.txt', encoding="utf8").read()
text = []

# split text at every 2-new-lines
# elements at 'odd' positions are 'urls'
# elements at 'even' positions are 'text/content'
for ind, line in enumerate(file):
    text.append(line)

# save to a dataframe
df = pd.DataFrame({'sentences':text})
df

        sentences
0               T
1               h
2               i
3               s
4
...           ...
5458194         e
5458195        \n
5458196        \n
5458197        \n
5458198        \n

[5458199 rows x 1 columns]

In [ ]:
df = pd.read_csv()